@font-face {
  font-family: 'Eauderose';
  src: url('/font/Eauderose.eot?') format('eot'),
       url('/font/Eauderose.woff') format('woff'),
       url('/font/Eauderose.ttf')  format('truetype'),
       url('/font/Eauderose.svg#Eauderose') format('svg');
}

i[class*="curly"] {
  font-family: 'Eauderose';
  font-style: normal;
  font-size: 3rem;
}

.curly-flat-one:before {
  content: "L";
}

.curly-flat-two:before {
  content: "D";
}

.curly-flat-three:before {
  content: "B";
}
