@color-0: #490A3D;
@color-1: #BD1550;
@color-2: #E97F02;
@color-3: #F8CA00;
@color-4: #8A9B0F;

.note-link {
  border-bottom: solid 2px #a3a3a3;
  cursor: pointer;
  position: relative;
}

.note-link:hover, .note-link.active {
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.note-connector {
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  height: 1px;
  position: absolute;
  display: none;
}

.note-connector.active {
  display: block;
}

aside {
  visibility: hidden;
  position: absolute;
  width: 15em;
  border-style: solid;
  border-width: 1px;
  background-color: #fcfcfc;
  padding: .5em;
  font-size: 1rem;
  line-height: 1.2;
  font-family: 'PT Sans', sans-serif;
  overflow-y: auto;
}

aside.right {
  left: 35em;
  border-left-width: 10px;
}

aside.left {
  right: 35em;
  border-right-width: 10px;
}

aside.active {
  visibility: visible;
}

/* Colors from http://www.colourlovers.com/palette/848743/%28%E2%97%95_%E2%80%9D_%E2%97%95%29 */

aside.color-0,
.note-link.active.color-0,
.note-link:hover.color-0,
.note-connector.color-0, {
  border-color: rgba(73, 10, 61, .5);
}

.note-link.active.color-0,
.note-link:hover.color-0 {
  background-color: rgba(73, 10, 61, .15);
}

aside.color-1,
.note-link.active.color-1,
.note-link:hover.color-1,
.note-connector.color-1, {
  border-color: rgba(189, 21, 80, .5);
}

.note-link.active.color-1,
.note-link:hover.color-1 {
  background-color: rgba(189, 21, 80, .15);
}

aside.color-2,
.note-link.active.color-2,
.note-link:hover.color-2,
.note-connector.color-2, {
  border-color: rgba(233, 127, 2, .5);
}

.note-link.active.color-2,
.note-link:hover.color-2 {
  background-color: rgba(233, 127, 2, .15);
}

aside.color-3,
.note-link.active.color-3,
.note-link:hover.color-3,
.note-connector.color-3, {
  border-color: rgba(248, 202, 0, .5);
}

.note-link.active.color-3,
.note-link:hover.color-3 {
  background-color: rgba(248, 202, 0, .15);
}

aside.color-4,
.note-link.active.color-4,
.note-link:hover.color-4,
.note-connector.color-4, {
  border-color: rgba(138, 155, 15, .5);
}

.note-link.active.color-4,
.note-link:hover.color-4 {
  background-color: rgba(138, 155, 15, .15);
}
