body {
  background-color: #f0f0f0;
  color: #333333;
  font-family: 'PT Serif', serif;
  padding:0;
  margin:0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a, a:link, a:visited, a:hover, a:active, a:focus {
  color: #025D8C;
}


.header, .main, .footer{
  box-sizing:border-box;
  margin:auto;
  width:40rem;
}


.header-wrap{
  background-color:#DDD;
  text-decoration: none;
  border-bottom:1px solid #BBB;
}
.header{
  padding:1.0rem 0;
}

a.logo{
  font-size:1.25rem;
  text-decoration: none;
  color:#222;
  padding:0.25rem 0.5rem;
  font-weight: bold;
}

a.logo:hover{
  color:white;
  background-color:#888;
}

.tagline{
  float:right;
  padding-top:0.25rem;
}
.tagline, .tagline a{
  color:#666;
  text-decoration: none;
  border-bottom:2px solid transparent;
}

.tagline a:hover{
  padding:1px 2px;
  margin:-2px;
}

.tagline .link-to-blog:hover{
  border-color: rgba(73, 10, 61, .5);
  background-color: rgba(73, 10, 61, .15);
}
.tagline .link-to-about:hover{
  border-color: rgba(189, 21, 80, .5);
  background-color: rgba(189, 21, 80, .15);
}
.tagline .link-to-esoteric:hover{
  border-color: rgba(233, 127, 2, .5);
  background-color: rgba(233, 127, 2, .15);
}
.tagline .link-to-software:hover{
  border-color: rgba(248, 202, 0, .5);
  background-color: rgba(248, 202, 0, .15);
}
.tagline .link-to-development:hover{
  border-color: rgba(138, 155, 15, .5);
  background-color: rgba(138, 155, 15, .15);
}

.list{

}

.list ul{
  list-style-type: none;
  padding:0;
}

.list li{
  margin-top:1.0rem;
  padding:1.0rem;
  border:1px solid #CCC;
  background-color: white;
}

.list .title{
  font-weight: bold;
  font-size:1.2em;
  display: block;
}

.list .subtitle {
  font-style: italic;
}

.page-contents{
  border:1px solid #CCC;
  background-color:white;
  margin: 1.0rem auto;
  padding:1rem;
}
.page-contents p{
}

.poem {
  text-align: center;
}

.poem p {
  white-space: pre-line;
}

.poem i[class*="curly"] {
  color: #aaa;
}
