/* Poems */

.poem {
  text-align: center;
}

.poem p {
  white-space: pre-line;
}

.poem i[class*="curly"] {
  color: #aaa;
}



/* Thanks */

ul.thanks, .thanks ul{
  list-style: none;
  padding:0 1rem;
}


.thanks li{
  margin-bottom: 3rem;
}
.thanks li:nth-child(2n){
  text-align: right;

}



.thanks li:last-child{
  margin-bottom:0;
}
.thanks-title{
  font-weight: bold;
  font-size:1.5em;
}
.thanks p{
  font-size:0.9rem;
  color:#888;
  white-space: pre-line;
  line-height: 1.75;
}
