<div class="sidebar">
  <div class="sidebar-image" style="background-image: url({{ site.baseurl }}public/{% if page.image %}{{ page.image }}{% else %}{{ site.default_image }}{% endif %});" />
  </div>

  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="http://watercooler.io?refer=blog-sidebar">Water Cooler</a>
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.link_text != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.link_text }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <span class="sidebar-nav-item" href="#">
        {% for social in site.social_links %}
          <a href="{{ social.url }}"><i class="fa fa-{{ social.icon }}"></i></a>
        {% endfor %}
      </span>
    </nav>
  </div>
</div>
