<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow|PT+Serif:400,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/article.css">
    <link rel="stylesheet" href="/css/curlies.css">
    <link rel="stylesheet" href="/css/footnotes.css">

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/js/footnotes.js"></script>
  </head>
  <body>
    <div class='header-wrap'>
      <div class='header'>
        <a class='logo' href='/'>Structural</a>
        <span class='tagline'>A <a class='link-to-blog' href='/'>blog</a> <a class='link-to-about' href='/about.html'>about</a> <a class='link-to-esoteric' href='/'>esoteric</a> <a class='link-to-software' href='/'>software</a> <a class='link-to-development' href='/'>development</a></span>
      </div>
    </div>
    <div class='main-wrap'>
      <div class="main">
        {{ content }}
      </div>
    </div>
    <div class='footer-wrap'>
      <div class='footer'>

      </div>
    </div>
  </body>
</html>
